.signup {
    display: block;
    width: 100%;
    max-width: 40rem;
    margin: 4rem auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: .5rem;


    .wrap {
        padding: 1rem;

        h2 {
            font-size: 2.2rem;
            line-height: 1;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            display: block;
            width: 100%;
            padding: 0;
            margin: 0 auto
        }

        .socialSignIn {
            margin: 3rem auto 0;
            padding: 1rem;
        }
    }
}