.socialSignIn {
    margin: 3rem auto 0;
    padding: 1rem;


    .forgot-password {
        width: 100%;
        text-align: right;
        font-size: 1.5rem;
        margin-bottom: 1rem;

        a {
            color: gray;
        }
    }
}